<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content=":: 회원가입 페이지" />
    <meta property="og:description" content=":: 회원가입을 진행해주세요."/>
    <meta property="og:image" content="images/logo_nobackground.png"/>

    <title> :: 회원가입</title>
    
    <link href="/src/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/src/css/signIn.css" rel="stylesheet" type="text/css">
    <script defer type="text/javascript" src="/src/js/singup.js"></script>
</head>
<body>
<div id="wrap">
    <div id="header">
        <h1><a href="/login"></a></h1>
    </div>
    <!-- // header -->

    <form id="join_form" class="signinForm" action="./index.html">
        <!-- container -->
        <div id="container">
            <!-- join_content -->
            <div class="join_content">
                <!-- 아이디, 비밀번호 입력 -->
                <div class="row_group">
                    <div class="join_row">
                        <h3 class="join_title">
                            <label for="username">아이디</label>
                        </h3>
                        <span class="ps_box">
                            <input type="text" id="username" name="username" class="int" title="아이디를" maxlength="20">

                            <span class="error_next_box"></span>
                        </span>
                        
                    </div>

                    <div class="join_row">
                        <h3 class="join_title">
                            <label for="password1">비밀번호</label>
                        </h3>
                        <span class="ps_box">
                            <input type="password" id="password1" name="password1" class="int" title="비밀번호를" maxlength="20">

                            <span class="error_next_box"></span>
                        </span>
                        
                    </div>

                    <div class="join_row">
                        <h3 class="join_title">
                            <label for="password2">비밀번호 확인</label>
                        </h3>
                        <span class="ps_box">
                            <input type="password" id="password2" name="password2" class="int" title="비밀번호 확인을" maxlength="20">

                            <span class="error_next_box"></span>
                        </span>
                        
                    </div>
                </div>
                <!-- // 아이디, 비밀번호 입력 -->

                <!-- 이름, 성별, 이메일 입력 -->
                <div class="row_group">
                    <div class="join_row">
                        <h3 class="join_title">
                            <label for="name">이름</label>
                        </h3>
                        <span class="ps_box">
                            <input type="text" id="name" name="name" class="int" title="이름을" maxlength="40">

                            <span class="error_next_box"></span>
                        </span>
                        
                    </div>

                    <div class="join_row">
                        <h3 class="join_title">
                            <label for="gender">성별</label>
                        </h3>
                        <span class="ps_box">
                            <select id="gender" name="gender" class="sel" title="성별을">
                                <option value selected>성별</option>
                                <option value="M">남자</option>
                                <option value="F">여자</option>
                            </select>

                            <span class="error_next_box"></span>
                        </span>
                        
                    </div>

                    <div class="join_row">
                        <h3 class="join_title">
                            <label for="email">본인 확인 이메일</label>
                        </h3>
                        <span class="ps_box">
                            <input type="email" id="email" name="email" class="int" maxlength="100" title="이메일을">

                            <span class="error_next_box"></span>
                        </span>
                        
                    </div>
                </div>
                <!-- // 이름, 성별, 이메일 입력 -->
                <div class="btn_area">
                    <button id="btnJoin" class="btn_type">
                        <span>가입하기</span>
                    </button>
                </div>
            </div>
            <!-- // join_content -->
        </div>
        <!-- // container -->
    </form>
</div>
</body>
</html>